/*login and signup page*/
          		.card {
          			background-color: #fff;
          			padding: 20px;
          			margin-top: 7px;
          			margin-left: 30%;
          			margin-right: 30%;
          			height: 85vh;
          		}
          		input {
          			margin-top: 10px;
          			display: inline-block;
          		}
          		.input-icons i{
			position: absolute;
		}
		.input-icons {
			width: 100%;
			margin-bottom: 10px;
		}
		.icon {
			padding: 10px;
			color: #d11d53;
			min-width: 50px;
			text-align: center;
		}
		.input-field {
			width: 90%;
			padding: 15px;
			text-align: center;

		}
		.fa {
			margin-top: 5px;
			font-size: 1.5rem;
		}
		.btn {
			background-color: #d11d53;
			border: 1px solid #fff;
			margin: 0 5px;
			padding: 15px 40px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			border-radius: 24px;
			width: 70%;
		}

		.btn:hover {
			color: #fff;
			background-color: #d11d53;
		}
		.text-line {
			background-color: transparent;
			color: #fff;
			outline: none;
			outline-style: none;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #8B0000;
		}
		/*login and signup page end*/

		/*index page starts*/
		* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.7em;
	padding-left: 10px;
	font-family: 'Lobster', cursive;
	letter-spacing: 0.2em;
}
}
.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color:  #d11d53;
	font-size: 0.8em;
}

.main-nav a {
	color: #d11d53;
	font-size: 1em;
  	padding: 10px 18px;
}

.main-nav a:hover {
	color: #fff;
	background-color:  #d11d53;
	transition: 1.2s; 
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.left {
  position: absolute;
  top: 52%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2.7px;
  font-size: 20px;
} 

.right {
	position: absolute;
	top: 20%;
	left: 60%;
}


.pink-btn {
	 background-color: #d11d53; 
     border: 1px solid #fff;
       margin: 0 2px;
        color: #fff;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
         display: inline-block;
          font-size: 16px;
         font-weight: bold;
         font-family: 'Lora', serif;
                    
        }
.pink-btn:hover {
               text-align: center;
                background-color:#f36196;
                transition: 1.3s;
                border: 1px solid #fff;
                  }
.row {
	display: flex;
}

.column {
	flex: 50%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}
.column h2 {
	color: #d11d53;
	text-align: center;
}
.container1 {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container1 img {
  width: 100%;
  height: auto;
   opacity:0.6;
  filter:alpha;
}
.content {
  position: relative;
  text-align: center;
  color: #000;

}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: #d11d53;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
}
.bottom {
  position: absolute;
  bottom: 12%;
  right: 25%;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  padding: 15px 30px;
}

.about-right {
	float: right;
	position: absolute;
	top: 30%;
	left: 50%;
	right: 10%;
	text-align: justify;
	line-height: 2.1rem;
}
.about-left {
	display: flex;
	flex-direction: column;
	float: left;
	position: absolute;
	top: 30%;
	left: 5%;
	text-align: justify;
}
.about-container {
	display: flex;
	flex-direction: column;
     position: relative;
     text-align: center;
     padding-top: 20%;
          		}
  .arrivals {
  	padding-top: 30%;
  	text-align: center;
  	padding-right:10px;
  	padding-left: 10px; 
  }
.centered {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  line-height: 2.1rem;
}
.footersection {
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	position: relative;
	background-color: #222629;
	text-align:justify;
}

.footersection p {
	color: #fff;
}
.footersection h3 {
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.2rem !important;
	font-weight: 600;
	text-shadow: 0 20px 0 0 rgba(0,0,0,0.4);
}
.footer-div:nth-child(2) {
	text-align: center;
}
.footer-div {
	margin:30px 0; 
}


/*footer ends*/
/*social media icons start*/

.fa {
  padding: 20px;
  font-size: 25px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}


.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.about-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Poppins';
  width: 100%;

}
.about-card img {
	height: 350px;
	width: 100%;
}
.title {
  color: #d11d53;
  font-size: 18px;
}

.about-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

.about-btn:hover {
opacity: 0.8;
}
/*index page ends*/

/*shop page starts*/
.shop-container {
	 position: relative;  
    width:100%;
    max-width:100px;
}
.shop-container:before {
	content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
}
.shop-container:hover::before {
	 background-color:rgba(0,0,0,0.5);
}
.shop-container img {
	display: block;
	width: 100%;
}

.shop-container button {
	position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
}

.shop-container:hover button {
	opacity: 1;
}
/*shop page ends*/

/*blog section start*/
.leftcolumn {   
  float: left;
  width: 75%;
}

.leftcolumn h3 {
  color: #222f;
  font-weight: 600;
  margin: 50px 0;
}
.leftcolumn p {
  color: #999;
  padding: 0;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.rightcolumn h3 {
  color: #222f;
  font-weight: 600;
}

.rightcolumn p{
  color: #999;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.blog-card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.comment-box {
	border: 1px solid #ccc;
	margin:50px 0;
	padding: 10px 20px;
	background:linear-gradient(330deg, #d11d53 , 55%, #fff 0%);
}
.comment-box h3 {
	text-align: center;
}
.comment-form input, .comment-form textarea {
	width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.comment-form button {
	margin: 10px 0;
}

/*blog section end*/

/* shopping cart starts*/
.Cart-Container{
 width: 70%;
 height: 120vh
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 25px 40px #1687d933;
}
.cart-header{
 margin: auto;
 width: 90%;
 height: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.heading{
 font-size: 20px;
 font-family: ‘Open Sans’;
 font-weight: 700;
 color: #2F3841;
}
.action{
 font-size: 14px;
 font-family: ‘Poppins’;
 font-weight: 600;
 color: #E44C4C;
 cursor: pointer;
 border-bottom: 1px solid #E44C4C;
}
.Cart-Items{
 margin: auto;
 width: 90%;
 height: 30%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.image-box{
 width: 15%;
 text-align: center;
}
.about{
 height: 100%;
}
.title{
 padding-top: 5px;
 line-height: 10px;
 font-size: 20px;
 font-family: 'Poppins';
 font-weight: 500;
 color: #d11d53;
}
.subtitle{
 line-height: 10px;
 font-size: 18px;
 font-family: 'Poppins';
 font-weight: 600;
 color: #909090;
 text-align: center;
}
.counter{
 width: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.cart-btn{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: #d9d9d9;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 font-family: 'Poppins';
 font-weight: 900;
 color: #202020;
 cursor: pointer;
}
.count{
 font-size: 20px;
 font-family: 'Poppins';
 font-weight: 900;
 color: #202020;
}
.prices{
 height: 100%;
 text-align: right;
}
.amount{
 padding-top: 20px;
 font-size: 26px;
 font-family: 'Poppins';
 font-weight: 800;
 color: #202020;
}
.save{
 padding-top: 5px;
 font-size: 14px;
 font-family: 'Poppins';
 font-weight: 600;
 color: #1687d9;
 cursor: pointer;
}
.remove{
 padding-top: 5px;
 font-size: 14px;
 font-family: 'Poppins';
 font-weight: 600;
 color: #E44C4C;
 cursor: pointer;
}
hr{
 width: 66%;
 float: right;
 margin-right: 5%;
}
.checkout{
 float: right;
 margin-right: 5%;
 width: 28%;
}
.total{
 width: 100%;
 display: flex;
 justify-content: space-between;
}
.Subtotal{
 font-size: 22px;
 font-family: 'Poppins';
 font-weight: 700;
 color: #202020;
}
.items{
 font-size: 16px;
 font-family: 'Poppins';
 font-weight: 500;
 color: #909090;
 line-height: 10px;
}
.total-amount{
 font-size: 27px;
 font-family: 'Poppins';
 font-weight: 500;
 color: #202020;
 margin-right: 8%;
}
.checkout-btn{
	background-color: #d11d53; 
     border: 1px solid #fff;
       margin: 0 2px;
        color: #fff;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
         display: inline-block;
          font-size: 16px;
         font-weight: bold;
         font-family: 'Lora', serif;
         float: right;
 
}
.checkout-btn:hover {
	text-align: center;
      background-color:#f36196;
      transition: 1.3s;
       border: 1px solid #fff;
}

 .cart-body{
 margin: 0;
 padding: 0;
 background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Poppins', sans-serif;
 height: 100vh;
}


/*shopping cart ends*/

/*checkout page starts*/
.checkout-container{
    display:flex;
    flex-direction:column;
    width:70vw;
    height:180vh;
    background-color:#6a7b90;
    margin:0 auto;
    border-radius:20px;
    padding-top: 5%;
}
.checkout-container h1 {
	text-align: center;
}


.product-view{
    width:70vw;
    height:100vh;
    background-color:#D9D9D6;
    margin:0 auto;  
    flex:1;
    border-radius:30px 30px 0px 0px;
}

.checkout-container form{
    width:70vw;
    height:60vh;
    background-color:#D9D9D6;
    margin:0 auto;  
    flex:2;
    border-radius:0px 0px 30px 30px;
}

.form-group input{
    display:block;
    margin:5px 20px 20px 20px;
    background-color:transparent;
    border-style:none;
    border-bottom-style:solid;
    border-bottom-color:#5E5E5E;
    border-bottom-width:1px;
    color: #000;
}

.card-info label{
    margin-right:80px;
    color: #000;
    
}

.form-group{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top:1rem;
}

.form-group label{
    margin:0px 20px;
    color: #000;
}

 h1{
    margin:10px 20px;
    
}

.product-view img{
    width:inherit;
    border-radius:30px 30px 0px 0px;

}

.form-group button{
    
    background: #000;
    text-align: center;
    border-style:none;
    height:50px;
    color:white;
    font-size:1rem;    
}
.form-group button:hover {
  background-color:#000;
  opacity: 0.7;
}

.form-group a{
    text-decoration:none;
    color:white;
    font-size:1rem;
}

/*checkout page ends*/

/*contact us starts*/
.contact-background {
  display: flex;
  min-height: 100vh;
}

.contact-container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

/*contact us ends*/
/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
 @media screen and (max-width: 600px) {
            .main-nav a {
               float: none;
               width: 100%;
            }
         }

  @media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .flex-direction{
  flex-direction:column;
  }
.about-left{
  width:202px;
  height:200px;
  border-right:none;
  border-bottom:1px solid black;
  }
  .about-right{
    width:202px;
    height:200px;
  }
  .about-right span{
    line-height:107px;
  }

}
